# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
1. List popular languages for Data Science.
2. List libraries used by Data Scientists.
3. List Data Science Tools.

## Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Keras
4. pandas

|Data Science Tools|
|----|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author

Haya Alsubie